.headerFooter {
  background-color: #1f1f20;
  height: 50px !important; /* Justerad för att vara konsekvent */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ändrad från center till space-between för att bättre hantera utrymme */
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000; /* Säkerställ att denna är tillräckligt hög för att ligga överst */
}

.header {
  top: 0;
  height: 50px !important; /* Säkerställ att detta matchar headerFooter för konsekvens */
  position: fixed !important;
  left: 0;
  right: 0;
  z-index: 1000;
  
}

.footer {
  bottom: 0;
  height: 50px !important;
  position: fixed; /* Antar att du vill ha footern fast som headern */
  left: 0;
  right: 0;
  z-index: 1000;
}

.logoContainer {
  flex: 0 auto; /* Justerad för att säkerställa att logokontainern har en fast startstorlek men kan växa vid behov */
  display: flex;
  justify-content: center; /* Centrerar loggan horisontellt */
}

.headerLeft, .headerRight {
  flex: 1 1 0px; /* Väx och krymp men börja med 0% av det extra utrymmet */
}

.headerLeft {
  text-align: right;
}

.headerRight {
  text-align: left;
}

.imageheader {
  width: 100px;
  height: 100px;
  margin: auto; /* Centrerar loggan vertikalt och horisontellt inom sin flexbehållare */
}

.headerstyles {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px; /* Oförändrad */
}

h2 {
  color: white !important;
}

a {
  padding: 3px;
  color: white !important;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none; /* Grupperad för enkelhet */
}

@media (max-width: 600px) {
  .headerstyles {
    font-size: 16px; /* Mindre text på mindre skärmar */
  }
  .imageheader {
    width: 80px;
    height: 80px; /* Mindre logga på mindre skärmar */
  }
}
