.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("https://i.imgur.com/FlIZQ47.jpg");
    background-size: cover; /* Gör så att bilden täcker hela elementet */
    background-position: center; /* Centrerar bilden */
    background-repeat: no-repeat;
}

.logo {
    width: 350px;
    height: auto;
    margin-bottom: 20px;
    margin-left: 15px;
}

.followus {
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
}

.sociallinks {
    display: flex;
    gap: 20px;
}

.sociallink {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: white;
}

.sociallink img {
    width: 20px;
    height: 20px;
    margin-left: 8px;
}