.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Använd vh för att säkerställa att appen täcker hela höjden av viewporten */
  width: 100%;
}

.content-wrapper {
  flex: 1;
  overflow-y: auto;
  padding-top: 50px; /* Höjden av header /////   */ 
  padding-bottom: 50px; /* Höjden av footer */
 
}

html, body, #root {
  height: 100%;
  width: 100%;
}
